---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, INTRODUCTION } from "../consts";
import Introduction from "../components/Introduction.astro";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Introduction links={INTRODUCTION.links}>
        {INTRODUCTION.greeting}
        <br />
        {INTRODUCTION.description}
      </Introduction>
    </main>
    <Footer />
  </body>
</html>
