---
interface Props {
  title: string;
  role: string;
  description: string;
  url: string;
  coverURL: string;
}

const { title, role, description, url, coverURL } = Astro.props;
---

<div class="container">
  <h3>{title} • <br /> <span class="fade">{role}</span></h3>
  <a href={url}>
    <img src={coverURL} />
  </a>
  <p>
    {description}
  </p>
</div>

<style>
  h3 {
    font-weight: 400;
    font-size: 1rem;

    text-transform: uppercase;

    margin: 0;
  }

  p {
    font-size: 1rem;
    opacity: 0.5;

    margin: 0;
  }

  img {
    aspect-ratio: 3 / 2;
    object-fit: cover;

    width: 100%;

    border: 1px solid var(--color-fg-main);
  }

  .container {
    display: flex;
    flex-flow: column nowrap;

    row-gap: var(--spacing-sm);

    margin: var(--spacing-sm) auto;

    width: 100%;
  }

  .fade {
    opacity: 50%;
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 512px;
    }
  }
</style>
