---
import Heading from "../components/Heading.astro";
import Layout from "./Page.astro";

export type Metadata = {
  title: string;
  description: string;
  role: string;
  link: {
    displayText: string;
    url: string;
  };
  startDate: Date;
  endDate: Date | "present";
  heroImage: string;
};

interface Props {
  meta: Metadata;
}

const { meta } = Astro.props;

function formatDate(date: Date): string {
  const formatter = Intl.DateTimeFormat("en-us", {
    month: "short",
    year: "numeric",
  });

  const parts = {
    year: "",
    month: "",
  };

  formatter.formatToParts(date).forEach(({ type, value }) => {
    switch (type) {
      case "year":
        parts.year = value;
        break;
      case "month":
        parts.month = value;
        break;
    }
  });

  return parts.month + " " + parts.year;
}

const startDateString = formatDate(meta.startDate);
const endDateString =
  meta.endDate === "present" ? "present" : formatDate(meta.endDate);
const metaDateString = startDateString + " – " + endDateString;
---

<Layout title={meta.title} description={meta.description}>
  <article>
    <header>
      <div class="meta">
        <Heading level={1}>{meta.title}</Heading>
        <p>{meta.role}</p>
        <p class="date">{metaDateString}</p>
        <div><a href={meta.link.url}>{meta.link.displayText}</a></div>
      </div>
    </header>
    <section>
      <slot />
    </section>
  </article>
</Layout>

<style>
  header {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-lg);

    margin-top: var(--spacing-xxl);
    margin-bottom: 2em;
  }

  header > .meta > p {
    margin: 0;
  }

  section > :global(h2) {
    font-size: 1rem;

    text-transform: uppercase;

    margin-top: var(--spacing-xxl);
    margin-bottom: var(--spacing-lg);
  }

  .date {
    text-transform: capitalize;
  }

  section {
    margin: var(--spacing-lg) 0;
  }

  :global(img) {
    max-width: 100%;

    margin: var(--spacing-lg) 0;
  }

  @media screen and (min-width: 768px) {
    header {
      margin-top: 10rem;
      margin-bottom: 6rem;
    }

    section {
      max-width: 40ch;

      margin: 6rem 0;
    }

    .pic {
      flex: 0 0;
    }

    .pic > .placeholder {
      width: initial;
      height: 100%;
    }
  }
</style>
