---
import Heading from "../components/Heading.astro";
import Layout from "./Page.astro";

export type Metadata = {
  title: string;
  role: string;
  date: {
    start: Date;
    end: "present" | Date;
  };
  link: {
    title: string;
    url: string;
  };
};

interface Props {
  title: string;
  description: string;
  meta: Metadata;
}

const { title: pageTitle, description, meta } = Astro.props;

function formatDate(date: Date): string {
  const formatter = Intl.DateTimeFormat("en-us", {
    month: "short",
    year: "numeric",
  });

  const parts = {
    year: "",
    month: "",
  };

  formatter.formatToParts(date).forEach(({ type, value }) => {
    switch (type) {
      case "year":
        parts.year = value;
        break;
      case "month":
        parts.month = value;
        break;
    }
  });

  return parts.month + " " + parts.year;
}

const startDateString = formatDate(meta.date.start);
const endDateString =
  meta.date.end === "present" ? "present" : formatDate(meta.date.end);
const metaDateString = startDateString + " – " + endDateString;
---

<Layout title={pageTitle} description={description}>
  <article>
    <header>
      <div class="meta">
        <Heading level={1}>{meta.title}</Heading>
        <p>{meta.role}</p>
        <p class="date">{metaDateString}</p>
        <div><a href={meta.link.url}>{meta.link.title}</a></div>
      </div>
      <div class="pic">
        <div class="placeholder"></div>
      </div>
    </header>
    <section>
      <slot />
    </section>
  </article>
</Layout>

<style>
  header {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-lg);

    margin-top: var(--spacing-xxl);
    margin-bottom: 2em;
  }

  header > .meta > p {
    margin: 0;
  }

  .date {
    text-transform: capitalize;
  }

  .pic {
    flex: 1 0;
  }

  .pic > .placeholder {
    aspect-ratio: 3 / 2;

    min-width: 128px;
    width: 100%;
    background: black;
  }

  section {
    margin: var(--spacing-lg) 0;
  }

  @media screen and (min-width: 768px) {
    header {
      margin-top: 10rem;
      margin-bottom: 6rem;
    }

    section {
      max-width: 40ch;

      margin: 6rem 0;
    }

    .pic {
      flex: 0 0;
    }

    .pic > .placeholder {
      width: initial;
      height: 100%;
    }
  }
</style>
